# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/
*.egg-info/
dist/
build/

# База данных
*.db
*.sqlite
*.sqlite3

# Alembic
alembic/__pycache__/

# Медиафайлы ПАК
photos/**/*
videos/**/*
media/**/*

# Логи
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# ОС
.DS_Store
Thumbs.db

# Переменные окружения
.env
.env.local
